@use 'app/app.scss';

.container {
    @include app.flex-layout(row, center, stretch, 0.5rem);
}

.profileButton {
    width: 3rem;
    padding: 0.5rem;
}

.nameBar {
    display: flex;
    gap: 0.5rem;
    font-size: 0.75rem;

    &>:first-child {
        font-size: 1rem;
    }
}

.actionBar {
    padding-left: 0.5rem;
    color: grey
}
