.ingredientTableHeader {
  text-align: left;
  white-space: nowrap;
}

.ingredientTableItem {
  height: 2rem;
  vertical-align: baseline;
}

.ingredientTableItem input,
.ingredientTableItem select {
  min-height: 2rem;
  width: 100%;
  height: 100%;
  color: black;
  border: none;
  background-color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ingredientTableItem input[type="date"],
.ingredientTableItem select{
  width: fit-content;
}

.ingredientTableItem> :nth-child(1) {
  width: 20%;
}

.ingredientTableItem> :nth-child(2) {
  width: 30%;
}

.ingredientTableItem> :nth-child(3) {
  padding-right: 0.5rem;
}

.ingredientTableItem> :nth-child(4) {
  width: 15%;
}

.ingredientActionButton {
  padding: 0.25rem;
  display: inline;
}

.ingredientActionButton> :first-child {
  font-size: 1rem !important;
}

.categoriesBox {
  width: 16rem;
  position: absolute;
  justify-content: center;
  background: white;
  left: 0;
  z-index: 10;
}