@use 'app/app.scss';

.recipeList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.recipeCard {
    font-size: 0.85rem;
    padding-bottom: 0.5em;

    // 수정 가능성 있음
    &>:nth-child(2)>:first-child>:nth-child(2) {
        display: none;
    }
}

.recommendButton {
    width: fit-content;
    @include app.main-button();
    border: 1px solid whitesmoke;

    &>svg {
        transition: transform 0.5s ease-in-out;
    }

    &:hover svg {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 767px) {
    .recipeList {
        grid-template-columns: 1fr 1fr;
    }
}