.form {
    width: 50%;
    height: 100%;
    margin: auto;
}

.profilesPicture {
    min-width: 10rem;
    max-width: 14rem;
    width: fit-content;
    margin-inline: auto;
    margin-block: 2rem;
    border-radius: 100%;
    aspect-ratio: 1;
}

.profilesPicture img {
    object-fit: cover;
}

.imgUploadButton {
    width: fit-content !important;
    padding: 0.25rem;
    background-color: lightgreen;
    border-radius: 5px;
    color: white;
    padding-inline: 0.5rem;
    font-size: 0.95rem;
    cursor: pointer;
}

.container input,
.container textarea {
    border-radius: 10px;
    border: 1px solid silver;
    outline: none;
}

@media screen and (max-width:767px) {
    .form {
        width: 100% !important;
        padding-inline: 1rem;
    }
}