@use 'app/app.scss';

.dashboardPage {
    padding-bottom: 3rem;
    min-width: fit-content;
    width: 100%;
    height: fit-content;
    @include app.flex-layout(column);
    background-color: whitesmoke;
}

.activeTab {
    color: black;
    background-color: white;
    box-shadow: var(--base-box-shadow);
}

@media screen and (max-width:767px) {
    .dashboardPage {
        padding: 0.5rem !important;
    }
}