@use 'app/app.scss';

.container {
    @include app.flex-layout(column);
}

.searchInput {
    padding: 1rem;
}

.userInfoSection {
    width: 100%;
    @include app.flex-layout(row, center, space-between);
    overflow: hidden;
}

.userFollow {
    @include app.flex-layout(row, center, stretch, 0.5rem);
}