@use 'app/app.scss';

.container {
    width: 100%;
    max-width: 500px;
    @include app.flex-layout(column, stretch, stretch, 0);
    border-bottom: 1px solid rgb(var(--base-rgb-grey-light));
    overflow: hidden;

    &>:last-child {
        padding-inline: 0.5em;
    }
}

.content {
    padding-block: 0.25rem;
    @include app.flex-layout(column, start, space-between, 0.5em);
    flex: 1;

    &>:first-child {
        width: 100%;
        @include app.flex-layout(row, flex-end, stretch, 0.5rem);

        &>h3 {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            flex-shrink: 2;
        }

        &>span {
            white-space: nowrap
        }
    }

    &>:nth-child(2) {
        @include app.flex-layout(row);
        flex-wrap: wrap;
        color: rgb(var(--base-rgb-grey-medium));

        &>* {
            padding: 0rem;
        }

        svg {
            font-size: 1em;
        }
    }

    &>:last-child {
        height: 4rem;
        overflow-y: auto;
    }
}

@media screen and (max-width:767px) {
    .container {
        font-size: 0.85rem;
    }

    .infoBox {
        gap: 0.25em;
    }

    .introduction {
        height: 2.5rem;
    }
}