@use 'app/app.scss';

.card {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.image {
  max-width: 500px;
  aspect-ratio: 1;
  @include app.skeleton-shimmer();
}

.content {
  height: 170px;
  padding-block: 0.25rem;
  @include app.flex-layout(column, stretch, stretch, 0.5rem);

  &>* {
    @include app.skeleton-shimmer();
  }
}

.title {
  width: 5rem;
  height: 1.25rem;
}

.subtitle {
  width: 5rem;
  height: 1rem;
}

.description {
  width: 100%;
  height: 3rem;
}