@use 'app/app.scss';

.card {
  border-radius: 10px;
  overflow: hidden;
}

.image {
  width: 500px;
  aspect-ratio: 1;
  @include app.skeletonShimmer();
}

.textContainer {
  height: 170px;
  padding-block: 0.25rem;
  @include app.flex-layout(column, stretch, stretch, 0.5rem);
}

.title {
  width: 5rem;
  height: 1.25rem;
  @include app.skeletonShimmer();
}

.subtitle {
  width: 5rem;
  height: 1rem;
  @include app.skeletonShimmer();
}

.description {
  width: 100%;
  height: 3rem;
  @include app.skeletonShimmer();
}