@use 'app/app.scss';

.dialog {
    width: fit-content;
    padding-inline: 3rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    margin: 5px;
    @include app.flex-layout(column, center, stretch);
    background-color: white;
}

.header {
    @include app.flex-layout(column, center, stretch, 0.5rem)
}

.descriptions {
    margin-block-start: 1em;
    font-size: 0.85em;
    list-style: circle;
}

.actionBar {
    @include app.flex-layout(row);

    &>button {
        padding-inline: 1rem;
        padding-block: 0.5rem;
        border-radius: 10px;
        background-color: white;

        &:hover {
            filter: brightness(0.95);
        }
    }
}