@media screen and (max-width: 767px) {
    .detailPage {
        padding-inline: 0.5rem !important;
    }

    .recipeDetailCard{
        max-height: fit-content !important;
        flex-direction: column !important;
    }
}

.recipeDetailCard {
    width: 100%;
    box-shadow: none;
    align-items: center;
}

.recipeDetailCard>section {
    flex-direction: row;
}

.chatBox {
    border: none;
}