@use 'app/app.scss';

.recipeCard {
    width: fit-content;
}

.searchRecipeList {
    @include app.flex-layout(row);
    flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
    .searchRecipeList {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .recipeCard {
        width: 100%;
    }
}