.ingredientContainer {
    padding-inline: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

@media screen and (max-width: 767px) {
    .ingredientContainer {
        padding-inline: 1rem !important;
    }
}

.ingredientControls {
    display: flex;
}

.addButton{
    background-color: rgb(var(--main-rgb));
    color: white;
}

.ingredientActions {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ingredientList {
    width: 100%;
}