.ingredientBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.ingredientControls {
    display: flex;
}

.addButton{
    background-color: rgb(var(--main-rgb));
    color: white;
}

.ingredientActions {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ingredientList {
    width: 100%;
}