@use 'app/app.scss';

.container {
    width: 500px;
    height: 500px;
    padding-inline: 50px;
    @include app.flex-layout(column, center, center, 2rem);
    border: none;
    border-radius: 30px;
}

.logo {
    @include app.flex-layout(column, center, center);
    font-size: 2rem !important;
}

.content {
    width: 100%;
    @include app.flex-layout(column, center, center);
}

.introduce {
    margin-block: 1rem;
    @include app.flex-layout(column, center, center, 0.5rem);
}

.oauthButton {
    width: 100%;
    padding-inline: 1rem; 
    padding-block: 0.5rem;
    @include app.flex-layout(row, center, stretch);
    border-radius: 10px;
}

.oauthIcon {
    padding: 0.25rem;
    font-size: 1.25rem;
    border-radius: 100%;
}

.googleOAuth {
    border: 1px solid rgb(var(--base-rgb-grey-light));
}

.googleOAuth > b{
    margin: auto;
}
