@import 'app/app.scss';

.container {
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
}

.fileInput {
    height: 100%;
    @include flex-layout(row, center, center);
    cursor: pointer;
}

.fileInput:hover > svg {
    transform: translateY(-5px);
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.imageBox {
    width: 100%;
    height: 100%;
    @include flex-layout(row, center, center);
    background-color: black;
    overflow: hidden;
}

.imageBox > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.uploadIconBox {
    width: 100%;
    @include flex-layout(column, center);
    color: rgb(var(--base-rgb-grey-medium));
}

.introduction {
    @include text-ellipsis;
}