@use 'app/app.scss';

.container {
    padding-block: 0;
    padding-inline: 0;
    @include app.flex-layout(column, stretch, stretch, 0);
}

@media screen and (max-width: 767px) {
    .container {
        padding-inline: 0.5rem;
    }
}