.cardListContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.homeRecipeCard {
    max-height: 80%;
}

.homeRecipeCard > img {
    max-height: 20rem;
}

.chatBox {
    position: absolute;
    top: 0;
    left: 0;
    transition-duration: 1s;
}

@media screen and (max-width: 767px) {
    .cardListContainer {
        padding-inline: 0.5rem;
    }
}