/* 레시피 탭*/
@media screen and (max-width: 767px) {
    .recipeOverviewSection {
        flex-direction: column;
    }
}

.attachChildHeader {
    justify-content: start !important;
    gap: 1rem;
}

.recommendReloadButton {
    border: 1px solid rgb(var(--base-rgb-grey-light));
}

.loginForm {
    width: 100%;
    margin-inline: auto;
}