@use 'app/app.scss';

.config {
    @include app.flex-layout(row-reverse);
    position: relative;

    &>button {
        width: fit-content;
        background-color: white;
        border: 1px solid rgb(var(--base-rgb-grey-light));
        padding: 1rem;
    }
}

.configDropdown {
    @include app.flex-layout(column);
    gap: 0;
    position: absolute;
    top: 125%;
    right: 0%;
    background-color: white;
    border: 1px solid rgb(var(--base-rgb-grey-light));
    overflow: hidden;
    box-shadow: 0px 0px 2px 4px whitesmoke;

    &>*:hover {
        border-radius: 0;
        background-color: whitesmoke;
    }
}

.lastestUpdate {
    text-align: end;
}