.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, rgb(var(--main-rgb)), white);
}

.logo {
    width: fit-content;
    color: white;
    font-size: 2rem !important;
}

.loginBox {
    margin: auto;
}