@use 'app/app.scss';

.container {
    padding: 0.75rem;
    box-shadow: 0px 0px 2px 2px rgb(var(--base-rgb-grey-light));
    border-radius: 5px;
}

.itemList {
    padding-block: 1rem;
    @include app.flex-layout(row, center);
    flex-wrap: wrap;
}

.item {
    width: fit-content;
    @include app.flex-layout(column, center, center, 0);
    border: none;
    aspect-ratio: 1;
    font-weight: bold;
    font-size: 0.75rem;
}

.item:hover {
    transform: scale(1.05);
}