@use 'app/app.scss';

.cardContainer {
    @include app.flex-layout(column);
    gap: 0;
    border-bottom: 1px solid rgb(var(--base-rgb-grey-light));
    border-radius: 10px;
    overflow: hidden;
}

.containerBottomSection{
    padding-inline: 0.5rem;
}

.infoBox {
    @include app.flex-layout(column, start, space-between);
    flex: 1;
}

.infoHeader {
    @include app.text-ellipsis;
}

.infoHeader>* {
    display: inline;
}

.infoHeader>:first-child {
    font-size: 1.5em;
    margin-right: 0.5rem;
}

.subInfo {
    @include app.flex-layout(row);
    flex-wrap: wrap;
    color: rgb(var(--base-rgb-grey-medium));
}

.subInfo>* {
    padding: 0rem;
}

.subInfo svg {
    font-size: 1em;
}

.introduction {
    height: 5rem;
    overflow-y: auto;
}

.recipeActionBar {
    @include app.flex-layout(row, stretch, stretch);
}

.recipeActionBar>button {
    padding-inline: 0.25rem;
}

.chatSection {
    height: 100%;
    transition: transform 0.5s ease;
}

@media screen and (max-width:767px) {
    .cardContainer {
        border-radius: 0px;
    }

    .chatSection {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 0px !important;
        border: none !important;
    }
}