@use 'app/app.scss';

.container {
    padding-bottom: 3rem;
    @include app.flex-layout(column, stretch, stretch);

}

.userRank {
    & img {
        border-radius: 100%;
    }
}

@media screen and (max-width: 767px) {
    .container {
        h2 {
            font-size: 1.25em;
        }
    }
}