@use 'app/app.scss';

.tooltipWrapper {
    margin-right: auto;
    position: relative;
    @include app.flex-layout(row,stretch, stretch, 0);

    &:hover .tooltipText {
        visibility: visible;
        opacity: 1;
    }
}

.icon {
    font-size: 1.25em;
    color: rgb(var(--base-rgb-grey-medium));
    cursor: pointer;
}

.tooltipText {
    width: 350px;
    padding: 5px;
    padding-block: 10px;
    position: absolute;
    top: 125%;
    left: 50%;
    transform: translateX(-10%);
    border-radius: 5px;
    box-shadow: 0px 0px 4px 0px rgb(var(--base-rgb-grey-light));
    color: rgb(var(--base-rgb-grey-medium));
    background-color: white;
    visibility: hidden;
    font-weight: normal;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

@media screen and (max-width: 767px) {
    .tooltipText {
        width: 300px;
    }
}