@use 'app/app.scss';

.skeleton {
    @include app.flex-layout(row, center);

    &>:first-child {
        margin-inline: 0.875em;
        width: 2em;
        height: 2em;
        @include app.skeleton-shimmer();
    }

    &>:nth-child(2) {
        height: 100%;
        aspect-ratio: 1;
        @include app.skeleton-shimmer();
    }

    &>:last-child {
        width: 20rem;
        height: 1.5em;
        @include app.skeleton-shimmer();
    }
}