/* 냉장고 탭*/
.dashboardPage button:hover {
    filter: none;
}

.fridgeSelection {
    height: 3rem;
    padding-inline: 0.5rem;
    border: 1px solid rgb(var(--base-rgb-grey-light));
}

.loginForm {
    width: 100%;
    margin-inline: auto;
}