@use 'app/app.scss';

.loginContainer {
    min-width: fit-content;
    min-height: fit-content;
    max-width: 800px;
    width: 50%;
    height: 50%;
    @include app.flex-layout(column, stretch, space-between);
}

.loginButton {
    width: 100%;
    padding-block: 0.75rem;
    @include app.main-button;
    font-weight: bold;
}

.divideLine {
    height: 1rem;
    margin-block: 1rem;
    position: relative;
}

.divideLine>p {
    color: rgb(var(--base-rgb-grey-medium));
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding-inline: 1rem;
    white-space: nowrap;
}

.oauthBar {
    @include app.flex-layout(row, stretch, center);
}

.oauthIcon {
    padding: 0.25rem;
    font-size: 1.5rem;
    box-shadow: 0px 0px 2px 0px silver;
    border-radius: 100%;
}

.kakaoIcon {
    background-color: yellow;
}