@use 'app/app.scss';

.page {
    max-width: 850px;
    margin: auto;
    @include app.flex-layout(column, stretch, space-between);
}

@media screen and (max-width:767px) {
    .page {
        width: 100% !important;
        padding-inline: 1rem;
    }
}