.container {
    padding: 1rem;
    border: 1px solid rgb(var(--base-rgb-grey-light));
    border-radius: 5px;
    background-color: white;
}

.title {
    white-space: nowrap;
}

.subTitle{
    color: rgb(var(--base-rgb-grey-medium));
}

.header {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
