.container {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(var(--base-rgb-grey-light));
    border-radius: 5px;
    background-color: white;
}

.title {
    width: 100%;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    white-space: nowrap;
}

.title > :last-child {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.subTitle{
    margin-bottom: 1rem;
    color: rgb(var(--base-rgb-grey-medium));
}

.icon {
    min-width: var(--icon-size-medium);
    font-size: var(--icon-size-medium);
}