.formContent {
    margin-bottom: 1rem;
    gap: 1rem;
}

.uploadImageList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.uploaderBox {
    max-height: min(16rem, 30vh);
    aspect-ratio: 1;
}

.stepInputBox {
    width: 100%;
    max-height: 10rem;
    display: flex;
    gap: 1rem;
}

.stepInputBox > *{
    width: 100%;
}

.stepTextArea {
    padding: 1rem;
}